
   body { 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

  .header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-family: 'Georgia', serif;
    text-align: center;
  }

  .content {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin: 20px;
    font-family: 'Verdana', sans-serif;
    border: 1px solid #ccc;
    text-align: center;
    list-style-position: inside;
  }

  .footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    font-family: 'Courier New', monospace;
    text-align: center;
  }

  .highlight {
    color: #e91e63;
    font-weight: bold;
  }
  ul {
    list-style-position: outside;
    padding-left: 0;
    display: inline-block;
    text-align: left;
  }

